charset-normalizer==2.0.12
constantly==15.1.0
Django==3.2.6
django-crispy-forms==1.14.0
django-modeltranslation==0.17.5
django-redis==5.2.0
django-rest-swagger==2.2.0
djangorestframework==3.13.1
dj_database_url